body {
    background-color: rgb(217, 235, 231);
}

h1 {
    color: rgb(37, 137, 150);
    font-size: 30pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

h2 {
    font-size: 16pt;
    font-weight: 500;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.6%;
    width: 100%;
    background-color: rgb(13, 170, 175);
    color: white;
    text-align: center;
    height: 60px;
    background-repeat: repeat-x;
    background-position: top;
}

figcaption {
    text-align: center
}

a:link {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}