body {
    background-color: rgb(217, 235, 231);
}

h1 {
    color: rgb(37, 137, 150);
    font-size: 40pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

h2 {
    font-size: 18pt;
    font-weight: 500;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.8%;
    width: 100%;
    background-color: rgb(13, 170, 175);
    color: white;
    text-align: center;
    height: 77px;
    background-repeat: repeat-x;
    background-position: top;
}

figcaption {
    text-align: center
}

a {
    color: blue;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: red;
}

.fab {
    color: black;
}

.fab:hover {
    color: blue;
}

.fab:active {
    color: red;
}

.card-title, .card-text, .phone, .email {
    text-align: center;
}

.footer-nav-link {
    color: black;
}